# Compiled binaries
megaphone
phonebook
zombie
zombieHorde
brain
violence
sed_is_for_losers
harl
harlFilter

# M02 binaries
fixed
bsp

# M03 binaries
claptrap
scavtrap
fragtrap
diamondtrap

# Object files
*.o

# Test artifacts
test.txt
test.txt.replace